<div class="card">
  <img
    [src]="asset.imageUrl || '/images/download.jpg'"
    class="card-img-top"
    alt="Asset"
  />
  <div class="card-body">
    <h6 class="mb-0">{{ asset.name }}</h6>
    <p class="card-text">{{ asset.address }}</p>
    <p class="card-text">{{ asset.totalPaid }}</p>
    <!-- <span
      class="badge"
      [ngClass]="{
        'bg-success': asset.status === 'available',
        'bg-danger': asset.status !== 'available'
      }"
      >{{ asset.status }}</span
    > -->
  </div>
</div>
