<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-black">AssetLoop</a>
    <a class="text-black">Browse</a>
    <div class="d-flex w-100 justify-content-end align-items-center px-5">
      <div class="d-flex gap-4 px-4">
        <a class="nav-link text-black">Favorites</a>
        <a class="nav-link text-black">Cart</a>
      </div>
      <form class="d-flex" [formGroup]="searchForm">
        <input
          class="form-control me-2"
          type="search"
          formControlName="keywords"
          placeholder="Search listings..."
        />
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="applySearch()"
        >
          Search
        </button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-black"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Jane
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li><a class="dropdown-item" (click)="logout.emit()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
