<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-light text-black vh-100 sidebar"
  style="width: 280px"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/dashboard')"
        [class.active]="isActive('/renter/dashboard')"
      >
        <i class="bi bi-house-door-fill"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/search')"
        [class.active]="isActive('/renter/search')"
      >
        <i class="bi bi-calendar-check-fill"></i> Search Listings
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/booking-history')"
        [class.active]="isActive('/renter/booking-history')"
      >
        <i class="bi bi-box-seam-fill"></i> My Bookings
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/favourites')"
        [class.active]="isActive('/renter/favourites')"
      >
        <i class="bi bi-box-seam-fill"></i> Favourites
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/chat')"
        [class.active]="isActive('/renter/chat')"
      >
        <i class="bi bi-box-seam-fill"></i> Messages
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/payments')"
        [class.active]="isActive('/renter/payments')"
      >
        <i class="bi bi-box-seam-fill"></i> Payments
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link border-bottom border-top"
        (click)="navigateTo('/renter/profile')"
        [class.active]="isActive('/renter/profile')"
      >
        <i class="bi bi-person-fill"></i> Profile & Settings
      </a>
    </li>
  </ul>
</div>
